<header fxLayoutAlign="start center">
	<div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
		<mat-icon color="warn" class="logoicon">store</mat-icon>
		<span class="logo">{{title}}</span>
	</div>
	<div fxLayoutGap="10" fxLayoutAlign="start center">
		<button mat-flat-button routerLink="">Strona główna</button>
		<button mat-flat-button routerLink="/products">Produkty</button>
		<span></span>
		<button mat-flat-button color="primary" routerLink="/login">Zaloguj</button>
		<mat-icon color="warn" class="shoppingBasket">shopping_basket</mat-icon>
	</div>
</header>