// 15.1 pseudoklasa host odnosi się do komponentu header.component.html:
// 26.1 dodaję import zmiennych z kolorami:
@import "../../../../variables";
:host {
    // 26.2 dodaję zmienną zamiast kolor na sztywno:
    background: $darkgray;
    /*
    background: #292b31; // 25.2 zmieniam kolor
    */
    padding: 20px;
    font-family: "Segoe UI Black", serif;
}
// 25.0
.logo {
    font-size: 22px;
    color: white; // 25.3 dodaję kolor
}
.logoicon,.shoppingBasket {
    font-size: 25px;
}