@import "../../../../variables";

:host {
    background: $darkgray;
    padding: 20px;
    font-family: "Segoe UI Black", serif;
}
.logo {
    font-size: 22px;
    color: white;
}
.logoicon,.shoppingBasket {
    font-size: 25px;
}