table{  // dodaję globalny styl dla tabel:
    width: 100%;
    font-family: "Segoe UI Black", serif;
}
// ustawia szerokość kolumny:
.mat-column-id{
    width: 60px;
}
mat-column-actions{
    width: 140px;
}