.orderForm{
    width: 400px;
}
.errorMessage{
    color: red;
}
.orderButton{
    font-size: 22px;
    width: 220px;
}
.orderSummary{
    font-size: 18px;
}
.orderSummary div{
    margin-bottom: 12px;
}