.orderForm{
    width: 400px;
}
.errorMessage{
    color: red;
}
.orderButton{
    font-size: 22px;
    width: 220px;
}
.orderSummary{
    font-size: 18px;
}
.orderSummary div{
    margin-bottom: 12px;
}
.shipmentRadioButton{
    margin: 10px 0;
    font-size: 18px;
}
.shipment-2{
    margin-left: 10px;
    font-weight: bolder;
}
.orderTotal {
    background: darkred;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
    font-size: 22px;
    font-weight: 500;
}
.orderTotalValue {
    font-size: 24px;
    font-weight: 700;
}
.paymentNote{
    font-weight: 700;
}
.loginInfo {
    font-size: 18px;
}