table{  // dodaję globalny styl dla tabel:
    width: 100%;
    font-family: "Segoe UI Black", serif;
}
.mat-column-id{ // ustawia szerokość kolumny:
    width: 60px;
}
mat-column-actions{
    width: 140px;
}
.mat-column-image{
    width: 155px;
}