:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    padding: 20px;
    background: goldenrod;
    color: black;
}
header {
    background: #292b31;
    padding: 20px;
    color: #ffffff;
}
.sidebar {
    background: #292b31;
    padding: 20px;
    a{
        color: white;
    }
}
.subMenuLink {
    color: gray;
}