:host {
    display: flex; // bez tego flexLayout nie zadziała
    flex-direction: column; // wyznacza kierunek layoutu na kolumnowy
    height: 100%;

}
.content {
    padding: 20px;
    background: goldenrod;
    color: black;
}
header {
    background: #292b31;
    padding: 20px;
    color: #ffffff;
}
.sidebar { // dodaję klasę sidebar do diva w fullpageadminempty.component.html
    background: #292b31;
    padding: 20px;
    a{
        color: white;
    }
}
.subMenuLink {
    color: gray;
}