<!--21.0 tworzę formularz do akcji update. Dodaję Input z AM:-->
<!--24.0 dodaję formGroup i tworzę w komponencie pole productForm-->
<!--24.7 dodaję zdarzenie submit-->
<h1>Edycja produktu</h1>
<form fxLayout="column" [formGroup]="productForm" (submit)="submit()">

<!--        27.0 wklejam tag z admin-product-form i ustawiam parametr wejściowy:-->
        <app-admin-product-form [parentForm]="productForm"></app-admin-product-form>


<!--        26.X wycinam cały formularz i wklejam do admin-product-form ts:-->
        <!--<mat-form-field appearance="fill">
                <mat-label>Nazwa</mat-label>
                &lt;!&ndash;                21.1 tekst, który się wyświetla zanim cokolwiek wpiszę:&ndash;&gt;
&lt;!&ndash;                24.2 przypisuję wartość do każdego pola, formControlName i wracam do komponentu&ndash;&gt;
                <input matInput placeholder="Podaj nazwę produktu" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
                <mat-label>Opis</mat-label>
                <textarea matInput rows="20" placeholder="Podaj opis produktu" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
                <mat-label>Kategoria</mat-label>
                <input matInput placeholder="Podaj kategorię produktu" formControlName="category">
        </mat-form-field>

        <mat-form-field appearance="fill">
                <mat-label>Cena</mat-label>
                <input matInput placeholder="Podaj cenę produktu" formControlName="price">
        </mat-form-field>

        <mat-form-field appearance="fill">
                <mat-label>Waluta</mat-label>
                <input matInput placeholder="Podaj walutę" formControlName="currency">
        </mat-form-field>

&lt;!&ndash;        21.2 potrzebuję jeszcze guzika, który to wszystko zapisze:&ndash;&gt;
        <div fxLayout="column" fxLayoutAlign="end" fxLayoutGap="10">
                <button mat-flat-button color="warn">Zapisz</button>
        </div>-->
</form>
