@import "variables";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI Black", serif;
}
.content{
    padding: 20px;
    background: slategrey;
}
.snack-bar-bg-color-ok{ // dodaję kolor wyskakującego snackBara:
    background-color: limegreen;
}
table {
    width: 100%;
}